{:mb     {:name   "Micro-Star International Co., Ltd. MS-16H8"
          :fans   []
          :temps  [{:name "THRM" :value 45}
                   {:name "TZ00" :value 27.8}
                   {:name "TZ01" :value 29.8}]
          :volts  []}
 :cpus   [{:name  "Intel Core i7 6700HQ"
           :loads [{:name "UC"     :value 2.34}
                   {:name "CPU #0" :value 15.62}
                   {:name "CPU #1" :value 0}
                   {:name "CPU #2" :value 1.56}
                   {:name "CPU #3" :value 0}
                   {:name "CPU #4" :value 0}
                   {:name "CPU #5" :value 0}
                   {:name "CPU #6" :value 0}
                   {:name "CPU #7" :value 1.54}]
           :temps [{:name "Core #0" :value 42}
                   {:name "Core #1" :value 41}
                   {:name "Core #2" :value 39}
                   {:name "Core #3" :value 40}
                   {:name "Package" :value 42}]
           :volts [{:name "VID"                 :value 1.08}
                   {:name "IA Offset"           :value 0}
                   {:name "GT Offset",          :value 0}
                   {:name "LLC/Ring Offset"     :value 0}
                   {:name "System Agent Offset" :value 0}]}]
 :hdds   [{:name  "HGST HTS721010A9E630"
           :loads [{:name "Space (e:)" :value 0.02}]
           :temps [{:name "Assembly"   :value 33}]}
          {:name  "SAMSUNG MZVPV128HDGM-00000"
           :loads [{:name "Space (c:)" :value 18.23}]
           :temps [{:name "Assembly"   :value 40}]}]
 :gpus   [{:name  "Intel(R) HD Graphics 530"
           :fans  []
           :loads []
           :temps []}
          {:name  "NVIDIA GeForce GTX 965M"
           :fans  []
           :loads [{:name "Memory"        :value 1.42}
                   {:name "GPU"           :value 0}
                   {:name "Frame Buffer"  :value 0}
                   {:name "Video Engine"  :value 0}
                   {:name "Bus Interface" :value 0}]
           :temps [{:name "TMPIN0" :value 49}]}]
 :memory {:free  6559485952
          :total 8496087040}}
