### ignore #####################################################################

*.ign

### NPM ########################################################################

/node_modules/

### BOOT #######################################################################

/.boot/

### LEININGEN ##################################################################

.lein-*

### MAVEN ######################################################################

*.jar
*.war
pom.xml

### NREPL ######################################################################

.repl-*
.nrepl-*

### OSX ########################################################################

.DS_Store

### EMACS ######################################################################

[#]*[#]

### VIM ########################################################################

*.swn
*.swo
*.swp

### GRADLE #####################################################################

.gradle

### VERT.X #####################################################################

.vertx

### CORDOVA ####################################################################

/bld/platforms/
/bld/plugins/
/bld/www/

### PROJECT ####################################################################

/log/
/tgt/
